.DS_Store
frontend/node_modules
frontend/dist


# python
__pycache__
.pyc

# db
*.sqlite3
*.dat
*.csv
*.zip
*.txt

# ide
.idea/
.vscode/

# env
.env

# files
*.log

# django statics
backend/static/js
backend/static/css
backend/static/img
backend/static/favicon.ico
backend/templates/*.html